.user-media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--text-color-5);
  border-radius: 50%;
  height: 42px;
  width: 42px;

  .online-indicator {
    position: absolute;
    height: 8px;
    width: 8px;
    background: rgb(0, 164, 63);
    border-radius: 50%;
    bottom: 2px;
    right: 0;
    transition: background 0.2s ease;

    &.offline {
      background: grey;
    }
  }
}