.chat-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 48px;
}

.chat-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.input-wrapper {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 6rem;
  border-radius: 24px;
  padding-block: 12px;
  padding-right: 64px;
  padding-left: 18px;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background: transparent;
    outline: none;
    border: none;
  }

  button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: var(--text-color);
  }
}

.message-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-inline: 16px;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.anchor {
  display: block;
  height: 12rem;
  flex-shrink: 0;
}

.message {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  min-width: calc(35px + 2 * 12px);
  max-width: 18rem;
  padding: 12px;
  margin-top: 16px;
  border-radius: 18px;

  &.user {
    align-self: flex-start;
    background: var(--text-color-10);
    border-bottom-left-radius: 6px;
  }

  &.me {
    align-self: flex-end;
    background: var(--primary-color);
    border-bottom-right-radius: 6px;
  }

  &__content {
    white-space: pre-wrap;
    line-break: anywhere;
    margin-bottom: 4px;
  }

  &__time {
    position: absolute;
    right: 12px;
    bottom: 4px;
    font-size: 10px;
    font-weight: 600;
    color: var(--text-color-50);
  }
}
