.notification {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 20rem;
  padding-inline: 12px;
  padding-block: 8px;
}

.app-name {
  font-size: 12px;
  color: var(--text-color-50);
}

.content {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.text-wrapper p {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 2px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background: var(--text-color-5);
  border-radius: 50%;
  height: 42px;
  width: 42px;
}
