* {
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
}

:root {
  --bg-color: #19191e;
  --primary-color: #9720e7;
  --secondary-color: #222227;
  --accent-color: #00eff3;
  --text-color: #e0e0e0;
  --text-color-50: rgba(224, 224, 224, 0.5);
  --text-color-10: rgba(224, 224, 224, 0.1);
  --text-color-5: rgba(224, 224, 224, 0.05);
}

.glass-card {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 20px;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    inset 0 -1px 0 rgba(255, 255, 255, 0.01),
    inset 0 0 4px 2px rgba(255, 255, 255, 0.05);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3),
    transparent,
    rgba(255, 255, 255, 0.05)
  );
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 8px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease, filter 0.3s ease;
}

button:disabled {
  color: var(--secondary-color);
  background: var(--text-color-10);
}

.icon-btn {
  height: 44px;
  width: 44px;
}

.btn-filled {
  color: var(--bg-color);
  background: var(--primary-color);

  &:hover {
    filter: brightness(120%);
  }
}

.btn-ghost {
  color: var(--text-color);
  background: var(--text-color-5);

  &:hover {
    background: var(--text-color-10);
  }
}

input {
  outline: none;
  background: transparent;
  border: 2px solid var(--text-color-10);
  padding: 12px;
  border-radius: 16px;
  height: 44px;
  transition: box-shadow 0.2s ease-in-out;
}

input,
textarea {
  font-size: 16px;
}

input:focus {
  box-shadow: 0 0 0 2px var(--primary-color);
}

::placeholder {
  color: var(--text-color-50);
}
